# Pandas and Parquet File Results

## 1-Hour Timeframe

- **Timeframe:** 2022-04-04 00 to 2022-04-04 01
- **Execution Time:** 53967.94617 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location:** (0,0)

## 3-Hour Timeframe

- **Timeframe:** 2022-04-02 01 to 2022-04-02 04
- **Execution Time:** 51313.19408 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location:** (859,766)

## 6-Hour Timeframe

- **Timeframe:** 2022-04-01 12 to 2022-04-01 18
- **Execution Time:** 55222.70912 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location:** (859,766)
