# Polars Results
## 1-Hour Timeframe
- **Timeframe:** 2022-04-04 00 to 2022-04-04 01
- **Execution Time:** 0.755458 ms
- **Most Placed Color:** #00CCC0
- **Most Placed Pixel Location:** (1381,1677)
## 3-Hour Timeframe
- **Timeframe:** 2022-04-04 00 to 2022-04-04 03
- **Execution Time:** 26220.646333 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location:** (0,0)
## 6-Hour Timeframe
- **Timeframe:** 2022-04-04 00 to 2022-04-04 06
- **Execution Time:** 36259.571792 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location:** (0,0)